<div class= "jumbotron">
	    <h1 id="mainheader">EventManager</h1>
	    <div id="events_serching">
	        <h2 id="header2">find an event</h2>
	        <input type="text" placeholder="search for events">
	        <span id="glyphi" class="glyphicon glyphicon-menu-right"></span> </br>
	    </div>
</div>