<div class= "jumbotron">
</div>
<div class= "container col-sm-offset-4 col-sm-4">
	<h1 id="mainheader">Welcome to EventManager!</h1>
</div>




<!--
<div>
	<p><%= link_to "Log in", login_path %></p>
</div>
-->

