<div class="form-horizontal">
    <%= link_to 'See all users', admin_user_list_path, class: "btn btn-danger" %>
    <%= link_to 'See reported Events', admin_reported_path, class: "btn btn-danger" %>
</div>