<div class="userslist col-md-offset-4">
  
  <%= will_paginate @users %>
  
  <ol>
  <% @users.each do |user| %>
    <li>
        <%= link_to user.user_name, admin_user_content_path(id: user) %>&nbsp;&nbsp;
        <%= user.email %>&nbsp;&nbsp;
        <%= user.role %>
    </li>
  <% end %>
  </ol>
</div>