<div class = "user-profile">
<div class="user-info">
  <div class="row">
    <div class="col-sm-3">
      <%= image_tag @user.avatar.url(:icon) %>
    </div>
    <div class="col-sm-9">

	    <h1><%= @user.user_name %></h1>
	    <span>
	      <span class="glyphicon glyphicon-star"></span> 
	      <span class="glyphicon glyphicon-star"></span> 
	      <span class="glyphicon glyphicon-star"></span> 
	      <span class="glyphicon glyphicon-star"></span> 
	      <span class="glyphicon glyphicon-star"></span> 
	    </span>

    </div>

  </div>
  <div class="info">
    <p><%= @user.description %></p>
  </div>

</div>
</div>



