<h1 id="header1">Results of searching by category</h1>

<% @counter = 0 %>
<div class="form-horizontal">
<% @events.each do |event| %>
	<% @counter += 1 %>
	<p>
		<%= @counter %> 
		<%= link_to event.name, event_path(event), class: "btn-link-red" %>
	</p>

	<% end %>
	</br>
</div>