<!--<h1>Events#index</h1>
<p>Find me in app/views/events/index.html.erb</p>

<%# @events.each do |event| %>
	<div class="col-md-4">
	<%#= link_to (image_tag event.avatar.url(:medium)), event_path(event) %>
	<%#= event.description %>
	</div>
	<div class="col-md-5">I gdzie się znajduje ten tekst?</div>
<%# end %>
<h1 id="header1">All events</h1>-->

<div class="event_content">
<% counter = 0 %>
<% @events.each do |event| %>
	<p>
	<%= counter+=1 %>
	<%= link_to event.name, event_path(event), class: "btn btn-link-red" %>
	</p>
<% end %>
</div>

<!-- dopisac: wyswietlanie po kategoriach, po uzytkownikach,
obok nazwy eventu wyswietlac uzytkownika i kategorie -->
