<h1 id="header1">Followed events</h1>

<% counter = 0 %>
<div class="event_content">
	<% if @events.present? %>
		<% @events.each do |event| %>
		<p>
			<%= counter=+1 %>
			<%= link_to event.name, event_path(event), class: "btn btn-link-red" %>
		</p>
		<% end %>
	<% end %>
</div>