// Place all the styles related to the AdminPanel controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.userslist {
    background-image: url("event coverphoto2 black.jpg");
    padding-top: 30px;
    color: #fff;
    font-family: 'Arimo';
    font-size: 14px;
}

.support p  {
    margin: auto;
    width: 100px;
    color: #000;
    display: inline;
}

.support p select {
    display: inline;
    width: 150px;
}

.support {
    width: 40%;
    margin: auto;
}