/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

//main content
body {
    background-color: #000;
}

#downcontent {
    padding-top: 50px;
}

//headers
#header1 {
    color: #fff;
    font-family: 'Oswald';
    text-align: center;
}

#header2 {
    color: #fff;
    font-size: 20px;
    text-decoration: underline;
}

//nav
.navbar{
    background-color: #000;
}
.navbar .navbar-brand {
    color: #fff;
    font-family: 'Oswald';
}

.mypages {
    color: #BFBFBF;
    font-family: 'Arimo';
}
.mypages:hover {
    letter-spacing: 3px;
}
.sign_links {
    font-weight: bold;
    color: #fff;
    font-family: 'Arimo';
}

//alert
.alert {
    background-color: #F9605C;
    text-align: center;
    margin: auto;
}

//footer
#footer {
  text-align: center;
  color: #fff;
}

//forms
.form-horizontal {
    background-image: url("event coverphoto2 black.jpg");
    padding-top: 30px;
    color: #fff;
    font-family: 'Arimo';
    font-size: 14px;
    text-align: center;
}

.form-horizontal p input, select {
  margin: auto;
  width: 200px;
  display: block;
  text-align: center;
}

.form-horizontal input, select {
  color: #000;
}

.form-horizontal textarea {
    color: #000;
}

//buttons
.btn-link-red {
    color: #ac2925;
    background-color: #000;
}
.btn-link-red:hover {
    color: #c9302c;
    text-decoration: none;
}

.user_profile {
    height: 100%;
    background-image: url("event coverphoto2 black.jpg");
}

#placeholder{
    margin-bottom: 10px;
}

