/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

#downcontent {
    padding-top: 50px;
}

.navbar{
    background-color: #337ab7;
    
}
.navbar .navbar-brand {
    color: #fff;
}
#mypages {
    color: #BFBFBF;
}
#mypages:hover{
    color: #fff;
}

#sign_log a {
    color: #fff;
    font-family: arial, verdana, sans-serif;
    font-weight: bold;
    font-size: 150%;
}

#sign_log a:hover{
    color: #BFBFBF;
}