// Place all the styles related to the MainPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main_page_content {
    color: #fff;
    background-image: url("event coverphoto2 black.jpg");
}

#header1 {
    color: #fff;
    font-family: 'Oswald';
    text-align: center;
}

#ifuserloggedin {
    text-align: center;
}