// Place all the styles related to the MainPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main_page_content {
    color: #fff;
    background-image: url("event coverphoto2 black.jpg");
    text-align: center;
}

.comment-section {
  text-align: center;
  color: #fff;
}

.form-comment {
  color: #000000;
}

#header1 {
    color: #fff;
    font-family: 'Oswald';
    text-align: center;
}

#ifuserloggedin {
    text-align: center;
}

.form-horizontal #main_page_jumbotron {
    color: #fff;
    overflow: hidden;
    position: absolute;
	z-index: -1;
}

.form-horizontal #jumbotron_label {
    color: #c9302c;
    display: inline-block;
    font-size: 24px;
    font-weight: normal;
    font-family: "times new roman";
    letter-spacing: 1px;
}

.form-horizontal #jumbotron_label:hover {
    cursor: pointer;
}

#description {
    white-space: pre-line;
    width: 40%;
    text-align: left;
    margin: auto;
    border: 2px dashed #fff;
    padding: 10px 10px 10px 10px;
    color: #fff;
    background-color: #c9302c;
}

.comment-box {
  width: 450px;
  text-align: left;
  margin: auto;
  border: 2px dashed #fff;
  padding: 10px 10px 10px 10px;
  margin-top: 20px;
  color: #fff;
  background-color: #c9302c;
}

hr {
    width: 50%;
}

#img {
    border: 2px solid #fff;
}