// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


form {
    padding-top: 40px; 
    font-family: 'Arimo';
    font-size: 14px;
    text-align: center;
}

form p input {
    width: 200px;
    display: block;
    margin: auto;
}

#header1 {
    color: #fff;
    font-family: 'Oswald';
    text-align: center;
}

.form-horizontal {
    background-image: url("event coverphoto2 black.jpg");
}

.btn-link-red {
    color: #ac2925;
}
.btn-link-red:hover {
    color: #c9302c;
    text-decoration: none;
}